<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="peterbrain" translate="label">
            <label>PeterBrain Extensions</label>
        </tab>
        <section id="pb_modaloverlay" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Modal Overlay</label>
            <tab>peterbrain</tab>
            <resource>PeterBrain_ModalOverlay::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label comment tooltip" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable modal output.</comment>
                    <tooltip>Select "Yes" to enable and "No" to disable modal output everywhere.</tooltip>
                </field>
                <field id="visited_pages_threshold" translate="label comment tooltip" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Visited Pages Threshold</label>
                    <comment>Threshold for pages visited after which the modal should pop up. The number of actual pages visited must be greater than this threshold for the modal to be displayed.</comment>
                    <tooltip>Only one positive non-decimal number (0, 3, 8, ...).</tooltip>
                    <validate>required-entry no-whitespace integer</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="information" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <attribute type="expanded">0</attribute>
                <field id="module_name" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Name</label>
                    <frontend_model>PeterBrain\Core\Block\Adminhtml\System\Config\Module\Name</frontend_model>
                    <attribute type="module_name">PeterBrain_ModalOverlay</attribute>
                </field>
                <field id="module_version" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Version</label>
                    <frontend_model>PeterBrain\Core\Block\Adminhtml\System\Config\Module\Version</frontend_model>
                    <attribute type="module_name">PeterBrain_ModalOverlay</attribute>
                </field>
                <field id="setup_version" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Setup Version</label>
                    <frontend_model>PeterBrain\Core\Block\Adminhtml\System\Config\Module\SetupVersion</frontend_model>
                    <attribute type="module_name">PeterBrain_ModalOverlay</attribute>
                </field>
            </group>
        </section>
    </system>
</config>
